.App {
  text-align: center;
}

html,
body {
  height: 100%;
  margin: 0;
}

/* App container to ensure footer stays at the bottom */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex: 1;
}

/* Footer specific styles */
.footer {
  margin-top: auto;
  padding: 1rem;
  text-align: center;
}

/* Navbar and footer styling */
.navbar-dark-theme {
  background-color: #173049 !important;
  color: #ffffff !important;
}

.navbar-light-theme {
  background-color: #91b8df !important;
  color: #000000 !important;
}

.footer-dark-theme {
  background-color: #173049 !important;
  color: #ffffff !important;
}

.footer-light-theme {
  background-color: #91b8df !important;
  color: #000000 !important;
}
/* Dark and light themes */
.dark-theme {
  background-color: #333;
  color: #ffffff;
}

.light-theme {
  background-color: #f8f9fa;
  color: #000000;
}



/* Additional form styles */
.form-check-input:checked {
  background-color: #0d6efd;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);}